<h1>Welcome to Members Only, <%= @user.username %></h1>
<p>
  You have successfully signed up to Members Only,
  your username is: <%= @user.username %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= link_to 'Login', new_session_url %>.
</p>
<p>Thanks for joining and have a great day!</p>

<p>Hello there, this is the image you requested:</p>

<%= image_tag attachments['images.jpg'].url %>

